---
import GitHub from "./icons/GitHub.astro";
import Web from "./icons/Web.astro";
import React from "./icons/React.astro";
import Tailwind from "./icons/Tailwind.astro";
import Code from "./icons/Code.astro";
import Astro_icons from "./icons/Astro_icon.astro";
import Express from "./icons/Express.astro";
import JavaScript from "./icons/JavaScript.astro";
import Mongo from "./icons/Mongo.astro";
import Next from "./icons/Next.js.astro";
import Node from "./icons/Node.astro";
import { projects } from "../const/projects.js";

const getComponentIcon = (name: any) => {
  const icons = {
    React,
    Next,
    Astro_icons,
    JavaScript,
    Tailwind,
    Node,
    Express,
    Mongo,
    GitHub,
  };

  return icons[name] || null;
};
---

<section class="flex flex-col gap-4 md:py-36 py-16" id="projects">
  <h2
    class="flex items-center gap-3 w-full mb-8 text-3xl font-semibold text-[#a3e3f8] neon-text"
  >
    <Code class="h-8 w-8" />
    Proyectos
  </h2>
  <div class="flex flex-col gap-12">
    {
      projects?.map((projects, index) => {
        return (
          <article
            class={`flex flex-col gap-4 ${index % 2 === 0 ? "md:flex-row" : "md:flex-row-reverse"} md:gap-8`}
          >
            <div class="relative z-900 w-full md:w-3/6 border border-gray-800 rounded-lg h-full 
            backdrop-blur-2xl overflow-hidden">
              <div class="bg-neutral-800 p-2 flex gap-2 align-center rounded-t-lg">
                <span class="w-2 h-2 rounded-full bg-red-500" />
                <span class="w-2 h-2 rounded-full bg-yellow-500" />
                <span class="w-2 h-2 rounded-full bg-green-500" />
              </div>
              <img
                src={projects.image}
                alt={projects.name}
                loading="lazy"
                class="w-full h-full object-cover aspect-auto rounded-b-lg border border-gray-700 cursor-pointer
                relative z-1100 top-5 left-5 hover:top-0 hover:left-0 transition-all duration-1200 hover:border-transparent"
              />
            </div>
            <div class="full md:w-3/6 grow h-full">
              <h3 class="text-2xl font-bold text-[#a3e3f8] drop-shadow-md transition-colors duration-500 hover:text-[#8fe3ff]">
                {projects.name}
              </h3>
              <ul class="mt-2 flex flex-wrap items-center gap-4 text-[.75rem] font-semibold text-gray-100">
                {projects.technologies.map((tech) => {
                  const Icon = getComponentIcon(tech.icon);
                  return (
                    <li class="flex justify-center items-center gap-x-1.5">
                      {Icon && <Icon class="h-3 w-3" />}
                      {tech.name}
                    </li>
                  );
                })}
              </ul>
              <p class="mt-2 text-[#e0e0e0]">{projects.description}</p>
              <nav class="flex flex-row gap-x-4 mt-4 justify-end items-center">
                <a
                  href={projects.github}
                  aria-label={`Ver código fuente de ${projects.name} en GitHub`}
                  title={`Ver código fuente de ${projects.name} en GitHub`}
                  target="_blank"
                  class="bg-[#052530] hover:bg-[#253d46] text-gray-100 font-semibold flex items-center gap-3 py-1 px-3 rounded-md text-sm transition-all duration-300 hover:scale-[1.02]"
                  rel="noreferrer"
                >
                  <GitHub class="h-4 w-4 transition-transform duration-300" />
                  Ver código fuente en GitHub
                </a>
                <a
                  href={projects.url || projects.github}
                  aria-label={
                    projects.url === false
                      ? `Ver documentación de ${projects.name} en GitHub`
                      : `Ver demostración de ${projects.name}`
                  }
                  target="_blank"
                  class="bg-[#052530] hover:bg-[#253d46] text-white font-semibold flex items-center gap-3 py-1 px-3 rounded-md text-sm transition-all duration-300 hover:scale-[1.02]"
                  rel="noreferrer"
                  title={
                    projects.url === false
                      ? `Ver documentación de ${projects.name} en GitHub`
                      : `Ver demostración de ${projects.name}`
                  }
                >
                  <Web class="h-4 w-4 transition-transform duration-300" />
                  {projects.url === false ? "Ver documentación" : "Ver demostración"}
                </a>
              </nav>
            </div>
          </article>
        );
      })
    }
  </div>
</section>
